<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Mundo Verde - Contato</h1>
      <p class="lead">Loja de alimentos saudáveis para pessoas que querem ser ou são saudáveis.</p>
    </div>
  </div>

  <div class="container" >
  <form class="form-horizontal">
      <fieldset>
    
      <legend>Contato</legend>
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="">Nome</label>  
        <div class="col-md-4">
        <input id="" name="" type="text" placeholder="Digite o seu nome" class="form-control input-md" required="">
          
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="textarea">Assunto</label>
        <div class="col-md-4">                     
          <textarea class="form-control" id="textarea" name="textarea">Digite o assunto
      </textarea>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <button id="singlebutton" name="singlebutton" class="btn btn-success">Enviar</button>
        </div>
      </div>
      
      </fieldset>
      </form>
     
<p class="display-4 text-center">Localização</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470482.73841333424!2d-43.608819892062144!3d-22.889517303882723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9be15839e68c4f%3A0x588a284ae162bc38!2sSenac!5e0!3m2!1spt-BR!2sbr!4v1521845469364" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
 </div>