<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Mundo Verde - Dicas de saúde</h1>
      <p class="lead">Loja de alimentos saudáveis para pessoas que querem ser ou são saudáveis.</p>
    </div>
  </div>
<div class="container">

  <div class="card card-outline-success mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p> Antes de algum exercício físico!</p>
          <p>O principal é a alimentação antes do exercício.

              Estima-se que um treino cardiovascular normal em uma academia gaste cerca de 900 calorias.</p>
          <p>"É aconselhável comer carboidratos complexos, como massas, arroz, batatas, pão e vegetais cerca de duas horas antes da prática"</p>
          <footer>Frase dita por <cite title="Source Title">Cynthia Zyngier, nutricionista argentina </cite></footer>
        </blockquote>
      </div>
    </div>

    <div class="card card-outline-success mb-3 text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Se deseja fazer uma dieta e ainda assim comer carne, aqui vai o tamanho "correto"!</p>
           <p>Peixe branco e carne vermelha:</p>
           <p>A quantidade correta por dia deve ser de 100g. Para acertar na medida, escolha um pedaço que caiba na palma da mão</p>
            <footer>Por <cite title="Source Title">Sian Porter</cite></footer>
          </blockquote>
        </div>
      </div>

</div>