<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Mundo Verde - Login</h1>
      <p class="lead">Loja de alimentos saudáveis para pessoas que querem ser ou são saudáveis.</p>
    </div>
  </div>
  <div class="container">
  <form class="form-horizontal">
      <fieldset>
      
     
      <legend>Faça o login</legend>
      <hr/>
    
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Nome</label>  
        <div class="col-md-4">
        <input id="textinput" name="textinput" type="text" placeholder="Digite o seu nome" class="form-control input-md">
       
        </div>
      </div>
      
     
      <div class="form-group">
        <label class="col-md-4 control-label" for="passwordinput">Senha</label>
        <div class="col-md-4">
          <input id="passwordinput" name="passwordinput" type="password" placeholder="Digite a sua senha" class="form-control input-md">
          
        </div>
      </div>
     
      <div class="form-group">
        
        <div class="col-md-4">
          <button id="singlebutton" name="singlebutton" class="btn btn-success">Entrar</button>
        </div>
      </div>
      
      </fieldset>
      </form>
      </div>
