<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Mundo Verde</h1>
    <p class="lead">Loja de alimentos saudáveis para pessoas que querem ser ou são saudáveis.</p>
  </div>
</div>

<div class="container">
  <div class="row">
<div class="card" style="width: 20rem; margin: 5px;">
  <img class="card-img-top" src="assets/cha.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Chá verde</h4>
    <p class="card-text">A quantidade máxima de chá verde indicada é de 4 xícaras ao dia, ou 600 ml. Traz saciedade e aumenta o metabolismo.</p>
    
  </div>
</div>

<div class="card" style="width: 20rem;  margin: 5px;">
    <img class="card-img-top" src="assets/alfa.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Alface</h4>
      <p class="card-text">Melhora a saúde dos olhos, previne a anemia e Favorece o trânsito intestinal.</p>
      
    </div>
  </div>

  <div class="card" style="width: 20rem;  margin: 5px;">
      <img class="card-img-top" src="assets/broco.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Brócolis</h4>
        <p class="card-text"> O brócolis é conhecido por possuir propriedades anticancerígenas, por conter fitoquímicos como os compostos isotiocianatos. Pesquisas relatam que o consumo diário de brócolis evita doenças do coração, evita úlceras e gastrites.</p>
        
      </div>
    </div>

    
</div>
</div>